.page-home-main
	padding: 30px
	.page-home-content
		background: #fff
		height: 100%
		width: 100%
		border-radius: 10px
		display: flex
		flex-direction: column
		color: #7238ef
		align-items: center
		h1
			font-size: 40px
		.receive-cards
			padding: 0 200px
			width: 100%
			display: flex
			justify-content: center
			flex-direction: column
			gap: 9px
			overflow-y: auto
			height: 100%
			.header-content

			.content
				background: #eaeaea
				color: #7238ef
				font-weight: 500
				border: 1px solid #bfbfbf
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
				margin-bottom: 10px
				.ant-col
					display: flex
					justify-content: center
					font-size: 18px
					svg
						font-size: 25px
			.empty-list
				display: flex
				justify-content: center
				align-items: center
				gap: 10px
				h3, svg
					color: #646262
				svg
					height: 80px
					width: 80px
			.header
				padding: 24px
				h2
					display: flex
					justify-content: center
					margin: 0

.save-button
	background: #7238ef
	color: #fff

.ant-select
	width: 100%
	.ant-col
		display: flex
		justify-content: center
		font-size: 18px
