.page-create-account-main {
	.page-create-content {
		display: flex;
		flex-direction: column;
		width: 600px;
		height: auto;
		gap: 5px;
		background-color: #fff;
		border-radius: 9px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		.header-content {
			background: linear-gradient(-135deg, #c850c0, #4158d0);
			border-radius: 9px 9px 0 0;
			color: #fff;
			display: flex;
			justify-content: center;
		}

		.form-content {
			padding: 15px 15px 3px;
			gap: 9px;
		}
		.submit-button {
			justify-content: center;
			margin-bottom: 10px;
		}
		.ant-input-number,
		.ant-input-number-affix-wrapper {
			width: 100%;
		}
	}
}
